/*body{
	margin: 0;
	background-color: #f5f2e3;
	font-family: arial;
}
header{
	background-color: #66CC00;
}
header img{
	display: block;
	position: relative;
    margin: 0;
    left: 50%;
    margin-left: -93px;
}
main{
  margin-bottom: 134px;
}
main h1{
	background-color: #55AF03;
	margin: 0px;
	padding: 10px;
	color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
main article{
	background-color: #fff;
  margin: 10px 10px 200px 10px;
  box-sizing: border-box;
}
main article h2{
	margin: 0;
	padding: 10px;
}    
main article h3{
	color: #55AF03;
  margin: 0px;
  padding: 10px;
}
main article p{
	padding: 20px 10px;
	margin: 0;
}
@media screen and (min-width: 700px) {
	main article{
		position: relative;
		width: 680px;
		margin: 10px auto;
	}
	main article h2{
		font-size: 1.7em;
	}    
	main article h3{
		font-size: 1.4em;
	} 
	main article p {
    font-size: 1.2em;
	}
}
main>.buttonBox{
	position: fixed;
	bottom: 0;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px;
}
main .buttonBox a{
	display: block;
	box-sizing: border-box;
	float: left;
	background-color: #66CC00;
	text-align: center;
	padding: 18px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 10px;
	width: 100%;
}
.agreeBtn::after{
		font-family:'FontAwesome';
		content:"\f055";
	}
.disagreeBtn::after{
	font-family:'FontAwesome';
	content:"\f056";
}
.neutralBtn::after{
	font-family:'FontAwesome';
	content:"\f111";
}
.nextBtn::after{
	font-family:'FontAwesome';
	content:"\f191";
}
.prevBtn::after{
	font-family:'FontAwesome';
	content:"\f152";
}
@media screen and (min-width: 700px) {
	.agreeBtn::after{
		font-family: arial;
		content:"Zustimmung";
	}
	.disagreeBtn::after{
		font-family: arial;
		content:"Ablehnung";
	}
	.neutralBtn::after{
		font-family: arial;
		content:"Enthaltung";
	}
	.nextBtn::after{
		font-family: arial;
		content:"Vor";
	}
	.prevBtn::after{
		font-family: arial;
		content:"Zurück";
	}
}
main .buttonBox a.row-3{
	width: 33.33%;
}
main .buttonBox a.row-2{
	width: 50%;
}
main .buttonBox a:hover{
	background-color: #55AF03;
}
main .buttonBox a:active{
	background-color: #2A5C03;*/

/* Layout */

@media (min-width:700px) {
  header {
    max-height: 50px;
  }
  main {
    width: 700px;
    padding-bottom: 5px;
  }
  main .userInput {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  main .nav-back {
    order: 1;
    margin-right: 10px;
  }
  main .nav-forward {
    order: 3;
    margin-left: 10px;
  }
  #questions {
    flex-direction: row;
  }
}

/*-------------------small screens-----------------------*/

@media (max-width:699px) {
  main {
    /* width: 100vw; */
    width: 100%;
    /* margin: 35px 0px 135px; */
  }
  main .userInput {
    flex-wrap: wrap;
    flex-direction: column;
  }
  main .nav-back {
    order: 3;
  }
  main .nav-forward {
    order: 4;
  }
  main article {
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
  }
  .content {
    padding-bottom: 10px;
  }
  #questions {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*-------------------common settings-----------------------*/

html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f5f2e3;
  font-family: arial;
}
body *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  /* height: 100%; */
}
body>header {
  background-color: #66CC00;
  align-self: stretch;
  /* flex: 1 100%; */
  /* position: absolute; */
}
header img {
  display: block;
  position: relative;
  margin: 0;
  /* left: 50%; */
  /* margin-left: -93px; */
}
main {
  /* margin: auto; */
  margin-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 5px;
}
main, header {
  /* flex: 0; */
  /* display: flex; */
  align-content: center;
  /* max-height: 50px; */
  /* width: 100vw; */
}
main>h1 {
  background-color: #55AF03;
  margin: 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  /* width: 100%; */
  /* flex: 1 100%; */
}
main article {
  background-color: #fff;
  padding: 10px 5px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
main article h3 {
  color: #55AF03;
  margin: 0px;
}
main article p {
  margin: 10px 2px 0px;
  font-size: 100%;
}
main .userInput {
  display: flex;
  align-self: center;
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weigth: bold;
}
main .no {
  order: 2;
  flex-grow: 2;
  /* flex: 1; */
}
main .neutral {
  order: 3;
  flex-grow: 2;
}
main .yes {
  order: 4;
  flex-grow: 2;
}
main .userInput a {
  /* flex: 1; */
  display: block;
  background-color: #66CC00;
  text-align: center;
  padding: 8px 40px 8px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5px;
  /* margin-right: 5px; */
  margin-top: 5px;
  /* max-height: 56px; */
}
main .userInput a:hover {
  background-color: #55AF03;
}
main .userInput a:active {
  background-color: #2A5C03;
}
.content {
  display: flex;
  flex-direction: column;
  order: 2;
}
.nav {
  background-color: white;
  color: black;
  text-align: center;
  /* opacity: 0.1; */
  color: #DCD9D9;
  cursor: pointer;
}
.nav a {
  /* flex: 1; */
  display: block;
  text-align: center;
  padding: 8px 40px 8px;
  text-decoration: none;
  cursor: pointer;
}
.nav:hover {
  /* background-color: #55AF03; */
  color: #8E8E8E;
}
.nav:active {
  background-color: #2A5C03;
}



/* Favs */

#favorites ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#favorites li {
  cursor: pointer;
  margin-bottom: 10px;
}
#favorites li p {
  margin: 0;
  padding: 10px;
}
#favorites i {
  padding: 10px;
  float: left;
  margin-right: 6px;
}
#favorites span {
  /* margin-left: 0px; */
}
#favorites .neutral {
  background-color: #ccc;
}
#favorites .neutral i {
  background-color: #aaa;
}
#favorites .negative {
  background-color: #f93;
}
#favorites .negative i {
  background-color: #f63;
}
#favorites .positive {
  background-color: #39c;
}
#favorites .positive i {
  background-color: #06c;
}
#favorites .fa-star {

}
#favorites .fa-star-o {

}

/* Result */

/*<<<<<<< HEAD
#result ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#result button{
	cursor: pointer;
	position: relative;
	width: 100%;
	background-color: none;
	border: none;
	padding: 0;
	margin: 10px 0;
}
#result button h1{
	color: #55AF03;
	background-color: #fff;
	box-shadow: inset 0 0 0 2px #55AF03;
}

#result button .bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 43px;
}

#result .question{
	cursor: pointer;
}
#result .answer{
	cursor: default;
}
#result .negative .question{
	background-color: #f93;
}
#result .positive .question{
	background-color: #39c;
}
#result .party{
	overflow: hidden;
}
#result .answer{
	overflow: hidden;
}
=======*/

/*RESULT*/
#result .questionBox{
  margin-bottom: 10px;
}
#result .questionBox header{
  position: relative;
  height: 48px;
  cursor: pointer;
  background-color: #66cc00;
  color: #fff;
}
#result .questionBox.positive header:nth-child(3){
  background-color: #06c;
}
#result .questionBox.negative header:nth-child(3){
  background-color: #f63;
}
#result .questionBox.neutral header:nth-child(3){
  background-color: #aaa;
}
#result .questionBox header i::after{
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  content: "\f054";
  padding: 16px 18.28px;
}
#result .questionBox header i.open::after{
  content: "\f078";
  padding: 16px;
}
#result .questionBox header h4{
  position: absolute;
  top: 0;
  left: 48px;
  display: block;
  padding: 15px;
  margin: 0;
  width: calc(100% - 88px);
}
#result .questionBox p.question{
  margin: 0;
  padding: 10px;
}
#result .questionBox p.answer{
  margin: 0;
  padding: 10px;
}
/*#result .negative .question {
  background-color: #f93;
}
#result .positive .question {
  background-color: #39c;
}*/

.errorMessage h3{
  font-style: italic;
  color: #f63;
}

/*---*/

#result ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
#result button {
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 10px 0;
  height: 43px;
}
#result button h1 {
  position: absolute;
  width: 100%;
  top: 0;
  color: #55AF03;
  background-color: none;
  box-shadow: inset 0 0 0 2px #55AF03;
  margin: 0px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#result button .bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 43px;
}
/*#result .negative .question {
  background-color: #f93;
}
#result .positive .question {
  background-color: #39c;
}*/
#historyBox{
  display: none;
}
@media (min-width:700px) {
  #historyBox{
    display: block;
  }
  #historyBox div{
    float: left;
    padding: 22px;
    margin: 5px;
    border-radius: 22px;
    background-color: #aaa;
  }
  #historyBox div.active{
    margin: 13px;
    padding: 14px;
    border-radius: 14px;
  }
  #historyBox div.positive{
    background-color: #06c;
  }
  #historyBox div.negative{
    background-color: #f63;
  }
}
