nav{
	z-index: 1;
	box-sizing:border-box;
	top: 0;
	width: 100%;
	padding: 14px;
	background-color: #FFF;
	border-bottom:solid 1px #CCC;
}
nav #logo{
}
nav a,nav img{
	display: block;
}
nav #menuButton{
	position: absolute;
	top:0px;
	right: 0px;
	margin: 14px;
}
nav ul{
		display: inline-block;
		text-align: center;
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	nav li{
		float: left;
		width: 100%;
	}
	nav li a{
		padding: 10.5px;
		text-decoration: none;
		color: #000;
		font-weight: 600;
	}
	nav li a:hover{
		background-color: #eee;
	}

	header{
		z-index: 0;
		margin-top: 0px;
		height: 44px;
		width: 100%;
		background-color: #E6E6E6;
		border-bottom:solid 1px #CCC;
	}

	header h2{
		font-size: 1.3em;
		font-weight: 100;
		margin: 0;
		padding: 7px 0 7px 14px;
	}
@media only screen and (min-width: 650px) {
	nav{
		z-index: 1;
		box-sizing:border-box;
		text-align: center;
		position: fixed;
		top: 0;
		width: 100%;
		height: 72px;
		padding: 14px;
		background-color: #FFF;
		border-bottom:solid 1px #CCC;
	}
	nav #logo{
		float: left;
	}
	
	nav #menuButton{
		display: none;
		position: relative;
		float: right;
	}
	nav ul{
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		width: initial;
	}
	nav li{
		float: left;
		width: initial;
	}
	nav li a{
		display: block;
		padding: 12px;
		text-decoration: none;
		color: #000;
		font-weight: 600;
	}
	header{
		z-index: 0;
		margin-top: 72px;
		height: 44px;
		width: 100%;
		background-color: #E6E6E6;
		border-bottom:solid 1px #CCC;
	}

	header h2{
		font-size: 1.3em;
		font-weight: 100;
		margin: 0;
		padding: 7px 0 7px 14px;
	}
}